@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewPassword</title>
</head>
<body>
    <div>

        <h1>Enter New Password</h1>
        <form action='@Url.Content("~/User/UpdatePassword")'>
            <input type="text" id="txtpassword" name="txtpassword" />
            <input type="submit" id="btnsubmit" name="btnsubmit" value="Update" />
        </form>
        
    </div>
</body>
</html>
